.uikit-card {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    transition: all .2s ease;
    border: 1px solid $GREY3;
    border-radius: 5px;
    cursor: pointer;
    background: $WHITE2;
    div.items-card {
        position: relative;
        margin: 0;
        border-bottom: 1px solid $GREY1;
        padding: 5px 0;
        p.title {
            margin: 0;
            font-size: 12px;
            color: $GREY2;
        }
        p.text {
            margin: 0;
            font-size: 14px;
            color: $BLACK;
        }
        z-index: 1;
    }
    div.items-card:last-child {
        border: 0;
    }
    img {
        position: absolute;
        width: 70%;
        top: 0;
        right: 0;
        z-index: 0;
        transition: all .5s ease;
    }
}
.uikit-card:hover {
    border: 1px solid $PRIMARY_COLOR;
    box-shadow: inset 0 0 2px $PRIMARY_COLOR;
    img {
        width: 85%;
    }
}